<?xml version="1.0"?>
<config>
    <modules>
        <PugMoRe_Mageploy>
            <version>1.1.0</version>
        </PugMoRe_Mageploy>
    </modules>
    
    <global>
        <models>
            <pugmore_mageploy>
                <class>PugMoRe_Mageploy_Model</class>
            </pugmore_mageploy>
        </models>

        <helpers>
            <pugmore_mageploy>
                <class>PugMoRe_Mageploy_Helper</class>
            </pugmore_mageploy>
        </helpers>
    </global>
    
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <mageploy_response>
                        <type>singleton</type>
                        <class>pugmore_mageploy/observer</class>          
                        <method>observeRequest</method>
                    </mageploy_response>
                </observers>
            </controller_action_predispatch>
        </events>        
    </adminhtml>
    
    <default>
        <!-- Use this section to register custom Action Trackers -->
        <mageploy>
            <actions>
                <system_config>
                    <disabled>0</disabled>
                    <class>PugMoRe_Mageploy_Model_Action_System_Config</class>
                </system_config>
                <catalog_category>
                    <disabled>0</disabled>
                    <class>PugMoRe_Mageploy_Model_Action_Catalog_Category</class>
                </catalog_category>
                <catalog_product_attribute>
                    <disabled>0</disabled>
                    <class>PugMoRe_Mageploy_Model_Action_Catalog_Product_Attribute</class>
                </catalog_product_attribute>
                <catalog_product_attributeSet>
                    <disabled>0</disabled>
                    <class>PugMoRe_Mageploy_Model_Action_Catalog_Product_AttributeSet</class>
                </catalog_product_attributeSet>
                <cms_block>
                    <disabled>0</disabled>
                    <class>PugMoRe_Mageploy_Model_Action_Cms_Block</class>
                </cms_block>
                <cms_page>
                    <disabled>0</disabled>
                    <class>PugMoRe_Mageploy_Model_Action_Cms_Page</class>
                </cms_page>
            </actions>
        </mageploy>
        
        <!-- System Configuration default values -->
        <dev>
            <mageploy>
                <active>1</active>
                <debug>1</debug>
                <user>anonymous</user>
            </mageploy>
        </dev>
    </default>
</config>