<?xml version="1.0"?>
<config>
    <modules>
        <PugMoRe_Mageploy>
            <version>1.2.2</version>
        </PugMoRe_Mageploy>
    </modules>
    <global>
        <resources>
            <pugmore_mageploy_setup>
                <setup>
                    <module>PugMoRe_Mageploy</module>
                </setup>
            </pugmore_mageploy_setup>
        </resources>
        <blocks>
            <pugmore_mageploy>
                <class>PugMoRe_Mageploy_Block</class>
            </pugmore_mageploy>
        </blocks>
        <models>
            <pugmore_mageploy>
                <class>PugMoRe_Mageploy_Model</class>
                <resourceModel>pugmore_mageploy_resource</resourceModel>
            </pugmore_mageploy>
            <pugmore_mageploy_resource>
                <class>PugMoRe_Mageploy_Model_Resource</class>
                <entities>
                    <executed>
                        <table>mageploy_executed</table>
                    </executed>
                </entities>
            </pugmore_mageploy_resource>
        </models>
        <helpers>
            <pugmore_mageploy>
                <class>PugMoRe_Mageploy_Helper</class>
            </pugmore_mageploy>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <mageploy_response>
                        <type>singleton</type>
                        <class>pugmore_mageploy/observer</class>          
                        <method>observeRequest</method>
                    </mageploy_response>
                </observers>
            </controller_action_predispatch>
        </events>
        <layout>
            <updates>
                <mageploy>
                    <file>mageploy.xml</file>
                </mageploy>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <!-- Use this section to register custom Action Trackers -->
        <mageploy>
            <actions>
                <system_config>
                    <disabled>0</disabled>
                    <class>PugMoRe_Mageploy_Model_Action_System_Config</class>
                </system_config>
                <catalog_category>
                    <disabled>0</disabled>
                    <class>PugMoRe_Mageploy_Model_Action_Catalog_Category</class>
                </catalog_category>
                <catalog_product_attribute>
                    <disabled>0</disabled>
                    <class>PugMoRe_Mageploy_Model_Action_Catalog_Product_Attribute</class>
                </catalog_product_attribute>
                <catalog_product_attributeSet>
                    <disabled>0</disabled>
                    <class>PugMoRe_Mageploy_Model_Action_Catalog_Product_AttributeSet</class>
                </catalog_product_attributeSet>
                <cms_block>
                    <disabled>0</disabled>
                    <class>PugMoRe_Mageploy_Model_Action_Cms_Block</class>
                </cms_block>
                <cms_page>
                    <disabled>0</disabled>
                    <class>PugMoRe_Mageploy_Model_Action_Cms_Page</class>
                </cms_page>
                <store_website>
                    <disabled>0</disabled>
                    <class>PugMoRe_Mageploy_Model_Action_Store_Website</class>
                </store_website>
                <store_group>
                    <disabled>0</disabled>
                    <class>PugMoRe_Mageploy_Model_Action_Store_Group</class>
                </store_group>
                <store_storeview>
                    <disabled>0</disabled>
                    <class>PugMoRe_Mageploy_Model_Action_Store_StoreView</class>
                </store_storeview>
            </actions>
        </mageploy>
        <!-- System Configuration default values -->
        <dev>
            <mageploy>
                <active>1</active>
                <debug>1</debug>
                <user>anonymous</user>
                <storage><![CDATA[var/mageploy]]></storage>
                <use_db>0</use_db>
            </mageploy>
        </dev>
    </default>
</config>