<?xml version="1.0"?>
<config>
    <modules>
        <PugMoRe_Mageploy>
            <version>1.0.0</version>
        </PugMoRe_Mageploy>
    </modules>
    
    <global>
        <models>
            <pugmore_mageploy>
                <class>PugMoRe_Mageploy_Model</class>
            </pugmore_mageploy>
        </models>

        <helpers>
            <pugmore_mageploy>
                <class>PugMoRe_Mageploy_Helper</class>
            </pugmore_mageploy>
        </helpers>
    </global>
    
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <mageploy_response>
                        <type>singleton</type>
                        <class>pugmore_mageploy/observer</class>          
                        <method>observeRequest</method>
                    </mageploy_response>
                </observers>
            </controller_action_predispatch>
        </events>        
    </adminhtml>
    
    <default>
        <mageploy>
            <actions>
                <catalog_product_attribute>
                    <disabled>0</disabled>
                    <class>PugMoRe_Mageploy_Model_Action_Catalog_Product_Attribute</class>
                </catalog_product_attribute>
                <catalog_product_attributeSet>
                    <disabled>0</disabled>
                    <class>PugMoRe_Mageploy_Model_Action_Catalog_Product_AttributeSet</class>
                </catalog_product_attributeSet>
            </actions>
        </mageploy>
    </default>
</config>